.signup-form {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
  border: 1px solid #00ffff; /* Borde inspirado en Starcraft II */
  border-radius: 10px;
  color: #ffffff; /* Color de texto inspirado en Starcraft II */

  ion-button {
    background-color: #00ffff00; /* Color de fondo del botón inspirado en Starcraft II */
    color: #000000; /* Color de texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif; /* Fuente futurista */
  }

  ion-button:hover {
    background-color: #00cccc; /* Color de fondo del botón al pasar el ratón */
  }

  .validators {
    color: #ffcc00; /* Color de texto de validación inspirado en Starcraft II */
  }

  p {
    color: #00ffff; /* Color de texto inspirado en Starcraft II */
  }
}

@media (min-width: 769px) {
  .signup-form {
    width: 500px;
  }
}